{% extends 'base.html.twig' %}

{% block title %}Plante index{% endblock %}

{% block body %}
    <h1>Plante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plante in plantes %}
            <tr>
                <td>{{ plante.id }}</td>
                <td>{{ plante.name }}</td>
                <td>{{ plante.description }}</td>
                <td>{{ plante.photo }}</td>
                <td>
                    <a href="{{ path('app_plante_show', {'id': plante.id}) }}">show</a>
                    <a href="{{ path('app_plante_edit', {'id': plante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plante_new') }}">Create new</a>
{% endblock %}
