{% extends 'base.html.twig' %}

{% block title %}Botanist index{% endblock %}

{% block body %}
    <h1 class="text-9xl">Botanist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for botanist in botanists %}
            <tr>
                <td>{{ botanist.id }}</td>
                <td>{{ botanist.name }}</td>
                <td>{{ botanist.specialization }}</td>
                <td>{{ botanist.address }}</td>
                <td>{{ botanist.zipcode }}</td>
                <td>{{ botanist.city }}</td>
                <td>{{ botanist.longitude }}</td>
                <td>{{ botanist.latitude }}</td>
                <td>
                    <a href="{{ path('app_botanist_show', {'id': botanist.id}) }}">show</a>
                    <a href="{{ path('app_botanist_edit', {'id': botanist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_botanist_new') }}" class="bg-amber-600 font-bold p-2 rounded text-gree">Create new</a>
{% endblock %}
